on:
  workflow_call:
    inputs:
      action:
        description: "Action to be performed"
        required: false
        type: string
        default: ${{ github.ref == 'refs/heads/main' && 'apply' || 'plan' }}
      environment_name:
        description: "Environment to be provisioned"
        required: true
        type: string
      git_ref:
        description: "Git ref to be planned"
        required: false
        type: string
      working_directory:
        description: "Directory that holds Terraform or OpenTofu code"
        required: true
        type: string
      tofu_version:
        description: "Tofu Version"
        required: false
        default: 1.9.1
        type: string

jobs:
  infra:
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}
    name: Tofu Provision
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment_name }}
    steps:
    - name: Setup Tofu
      uses: opentofu/setup-opentofu@v1.0.2
      with:
        tofu_version: ${{ inputs.tofu_version }}
        tofu_wrapper: true

    - name: Checkout repository with provided git ref
      uses: actions/checkout@v4
      with:
        ref: ${{ inputs.git_ref || github.ref }}

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Tofu Format
      id: fmt
      shell: bash
      run: tofu fmt -check

    - name: Install AWS CLI
      uses: unfor19/install-aws-cli-action@v1
      with:
        version: 2
        arch: amd64

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region: ${{ vars.AWS_REGION }}
        role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/GitHubActions
        role-session-name: GitHubActions

    - name: Tofu Init
      id: init
      shell: bash
      run: |
        tofu init

    - name: Tofu Validate
      id: validate
      shell: bash
      run: |
        tofu validate

    # Disable for speed
    # - name: Run Trivy vulnerability scanner
    #   uses: aquasecurity/trivy-action@0.28.0
    #   with:
    #     scan-type: fs
    #     scan-ref: '.'
    #     skip-dirs: .terraform
    #   if: |
    #     inputs.action == 'apply' || inputs.action == 'plan'

    - name: Remove Helm releases from state
      continue-on-error: true
      if: |
        inputs.action == 'destroy'
      shell: bash
      run: |
        for line in $(tofu state list | grep helm_release); do
          tofu state rm $line
        done

    - name: Tofu Plan
      env:
        TF_VAR_argocd_github_app_id: ${{ vars.ARGOCD_GITHUB_APP_ID }}
        TF_VAR_argocd_github_app_installation_id: ${{ vars.ARGOCD_GITHUB_APP_INSTALLATION_ID }}
        TF_VAR_argocd_github_app_private_key: ${{ secrets.ARGOCD_GITHUB_APP_PRIVATE_KEY }}
      id: plan
      shell: bash
      run: |
        if [ "${{ inputs.action }}" == "destroy" ]; then
          tofu plan -destroy -detailed-exitcode -exclude=module.route53 -exclude=module.route53_public -input=false -out=plan.tfplan \
          || echo "exitcode=$?" >> $GITHUB_OUTPUT
        elif [ "${{ github.ref }}" != "refs/heads/main" ]; then
          tofu plan -detailed-exitcode -input=false -lock=false -out=plan.tfplan \
          || echo "exitcode=$?" >> $GITHUB_OUTPUT
        else
          tofu plan -detailed-exitcode -input=false -out=plan.tfplan \
          || echo "exitcode=$?" >> $GITHUB_OUTPUT
        fi

    - name: Check if plan failed
      run: exit 1
      if: |
        steps.plan.outputs.exitcode == '1'

    - name: User instructions
      run: echo "Merge this to the main branch to apply"
      if: |
        github.ref != 'refs/heads/main' &&
        steps.plan.outputs.exitcode == '2'

    - name: Check EKS Cluster Existence
      id: check_eks_cluster
      if: |
        steps.plan.outputs.exitcode == '2'
      shell: bash
      run: |
        set +e # Don't exit on error for this command
        aws eks describe-cluster --name ${{ inputs.environment_name }} > /dev/null 2>&1
        if [ $? -eq 0 ]; then
          echo "exists=true" >> $GITHUB_OUTPUT
        else
          echo "exists=false" >> $GITHUB_OUTPUT
        fi

    - name: Destroy NLBs and Security Groups
      if: |
        inputs.action == 'destroy'
      shell: bash
      run: |
        # Destroy NLBs
        ALL_NLB_ARNS=$(AWS_PROFILE=Sandbox-330880211149 aws elbv2 describe-load-balancers --query "LoadBalancers[].LoadBalancerArn" --output text)

        for nlb_arn in $ALL_NLB_ARNS; do
          TAGS=$(AWS_PROFILE=Sandbox-330880211149 aws elbv2 describe-tags --resource-arns "$nlb_arn" --query "TagDescriptions[].Tags[]" --output json)

          if echo "$TAGS" | jq -e '.[] | select(.Key == "elbv2.k8s.aws/cluster" and .Value == "${{ inputs.environment_name }}")' > /dev/null; then
            echo "Deleting NLB: $nlb_arn"
            AWS_PROFILE=Sandbox-330880211149 aws elbv2 delete-load-balancer --load-balancer-arn "$nlb_arn"
          fi
        done

        # Destroy Security Groups
        SG_IDS=$(AWS_PROFILE=Sandbox-330880211149 aws ec2 describe-security-groups --filters "Name=tag:elbv2.k8s.aws/cluster,Values=${{ inputs.environment_name }}" --query "SecurityGroups[].GroupId" --output text)

        for sg_id in $SG_IDS; do
          echo "Deleting Security Group: $sg_id"
          AWS_PROFILE=Sandbox-330880211149 aws ec2 delete-security-group --group-id "$sg_id"
        done

    - name: Tofu Apply
      env:
        TF_VAR_ARGOCD_GITHUB_APP_ID: ${{ vars.ARGOCD_GITHUB_APP_ID }}
        TF_VAR_ARGOCD_GITHUB_APP_INSTALLATION_ID: ${{ vars.ARGOCD_GITHUB_APP_INSTALLATION_ID }}
        TF_VAR_ARGOCD_GITHUB_APP_PEM_FILE: ${{ secrets.ARGOCD_GITHUB_APP_PRIVATE_KEY }}
      id: apply
      if: |
        steps.plan.outputs.exitcode == '2' &&
        (
          (inputs.action == 'apply' && github.event_name == 'push' && github.ref == 'refs/heads/main' && steps.check_eks_cluster.outputs.exists == 'true') ||
          (inputs.action == 'apply' && github.event_name == 'workflow_dispatch') ||
          (inputs.action == 'destroy')
        )
      shell: bash
      run: |
        tofu apply -input=false -auto-approve plan.tfplan
